$vertForet : rgb(13, 155, 13);
$beige : rgb(203, 203, 158);
$textePrincipal : #333;
$texteSecondaire : #ff0000;
$couleurBtn : blue;

*{
    color: $textePrincipal;
}

header, footer{
    background-color: $vertForet;
}

main{
    background-color: $beige;
}

h1{
    color: $texteSecondaire;
    text-decoration: underline;
}

.mbtn{
    background-color: $couleurBtn;
    text-align: center;
    text-decoration: none;
    margin: 15px 15px 15px 0;
    border-radius: 5px;
    border-color: $beige;
    border-style: solid;
    border-width: 2px;
    transform: scale(1);
    transition: all ease-in-out 0.2s;
    a{
        padding: 10px;
        color: $beige;
        transition: all ease-in-out 0.15;
        &:hover{
            color: $couleurBtn;
        }
    }

    &:hover{
        background-color: $beige;
        transform: scale(1.2);        
    }
}

nav{
    li{
        list-style-type: none;
        ul{
            display: inline-block;
            padding: 0;
        }
    }
}