$vertForet : rgb(13, 155, 13);
$beige : rgb(203, 203, 158);

header, footer{
    background-color: $vertForet;
}

main{
    background-color: $beige;
}

h1{
    color: #ff0000;
}

nav{
    li{
        list-style-type: none;
        ul{
            display: inline-block;
            padding: 0;
        }
    }
}